.margin-x-10 {
    margin-inline: 10px;
}

.padding-x-10 {
    padding-inline: 15px;
}

.padding-top-cero {
    padding-top: 0px !important;
}

.color-texto-boton {
    color: #66615B !important;
}

.container-images {
    /* Establece el tamaño del contenedor para pantallas de PC  */
    height: 70vh;
    /* 60% del alto total de la pantalla  */
    width: 90vw;
    /* 80% del ancho total de la pantalla  */

}

.body-producto {
    width: 100vw;
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF !important;
}

.boton-redes {
    cursor: pointer;
}

.footer-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pading-butom-0 {
    padding-bottom: 0px !important;
}

.pading-butom-70 {
    padding-bottom: 70px;
}

.footer-rick {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.arrow {
    color: #6c757d !important;
}

.arrow:hover {
    color: #343a40 !important;
}

.arrow::before {
    color: #343a40 !important;
}

.mostrarRedes{
    display: none;
}



/* Media query para dispositivos móviles  */
@media (max-width: 768px) {
    .container-images {
        height: 90vh;
        /* 90% del alto total de la pantalla  */
        width: 95vw;
        /* 95% del ancho total de la pantalla  */
        flex-direction: column;
        /* Organiza los componentes hijos de manera vertical  */
        transition: transform 0.3s ease;
    }

    .footer-redes {
        width: 100%;
        padding-top: 0px !important;
        margin-top: 0px;
    }

    .footer-rick {
        width: 100%;
        flex-direction: column-reverse;
    }
}

.container-slider {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}

.container-landing {
    width: 80%;
    height: 70%;
}

.slider-item {
    width: 100%;
    padding: 30px;
    height: auto;
}

.slider-item.active {
    opacity: 1;
    /* Imagen central con opacidad completa */
    transform: scale(1.1);
    /* Efecto de alejamiento */
    width: 100%;
}


.logo-width {
    height: 60px;
}

@media (max-width: 1300px) {

    .slider-item {
        width: 100%;
        padding: 0px, 10px, 0px, 10px;
        height: auto;
    }

    .slider-item.active {
        opacity: 0;
        /* Imagen central con opacidad completa */
        transform: scale(1);
        /* Efecto de alejamiento */
        width: 100%;
        padding: 0px, 10px, 0px, 10px;
    }
}

@media (max-width: 700px) {

    .slider-item {
        width: 100%;
        padding: 0px;
        height: auto;
    }

    .slider-item.active {
        opacity: 0;
        /* Imagen central con opacidad completa */
        transform: scale(1);
        /* Efecto de alejamiento */
        padding: 0;
    }

    .container-slider {
        width: 100vw;
        height: 100vh;
        padding-top: 80px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 990px) {

    .mostrarRedes{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
}



/* 
.logo {
    position: absolute;
    top: 0;
    margin-top: 0px;
}

.logo-container {
    margin-top: 0px;
} */


/* img {
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 10%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
} */