
.container-images {
    /* Establece el tamaño del contenedor para pantallas de PC  */
    height: 70vh; /* 60% del alto total de la pantalla  */
    width: 90vw; /* 80% del ancho total de la pantalla  */
    display: flex; /* Organiza los componentes hijos de manera horizontal  */
    flex-direction: row; /* Asegura que los hijos se organicen horizontalmente  */
    overflow: auto; /* Permite desplazamiento si los hijos exceden el tamaño del contenedor  */
    justify-content: center; /* Centra los hijos horizontalmente  */
    align-items: center; /* Centra los hijos verticalmente  */
    gap: 35px;
    transition: transform 0.3s ease;
}

/* Media query para dispositivos móviles  */
@media (max-width: 768px) {
  .container-images {
    height: 90vh; /* 90% del alto total de la pantalla  */
    width: 95vw; /* 95% del ancho total de la pantalla  */
    flex-direction: column; /* Organiza los componentes hijos de manera vertical  */
    transition: transform 0.3s ease;
  }
}

.container-slider {
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 150px;
}

.container-images img {
    height: 80%;
    /* width: 400px; */
}

.scroll-styles {
    /* scrollbar-width: none; Oculta el scrollbar en Firefox */
    /* scroll-snap-type: proximity; Establece el tipo de desplazamiento  */
}


  
.slider-item {
opacity: 0.7; /* Opacidad para las imágenes laterales */
transition: opacity 0.3s ease, transform 0.3s ease;
}

.slider-item.active {
opacity: 1; /* Imagen central con opacidad completa */
transform: scale(1.1); /* Efecto de alejamiento */
height: 90%;
}
  
         
/* img {
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 10%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
} */