
.margin-x-10 {
    margin-inline: 10px;
}

.padding-x-10 {
    padding-inline: 10px;
}

.padding-top-cero {
    padding-top: 0px !important;
}

.color-texto-boton {
    color: #66615B !important;
}

.container-images {
    /* Establece el tamaño del contenedor para pantallas de PC  */
    height: 70vh; /* 60% del alto total de la pantalla  */
    width: 90vw; /* 80% del ancho total de la pantalla  */

}

.boton-redes{
    cursor: pointer;
}

.arrow {
    color: #6c757d !important;
}

.arrow:hover {
    color: #343a40 !important;
}

.arrow::before {
    color: #343a40 !important;
}

.alturaImg {
    height: 450px !important;
}

/* Media query para dispositivos móviles  */
@media (max-width: 768px) {
  .container-images {
    height: 90vh; /* 90% del alto total de la pantalla  */
    width: 95vw; /* 95% del ancho total de la pantalla  */
    flex-direction: column; /* Organiza los componentes hijos de manera vertical  */
    transition: transform 0.3s ease;
  }

    .alturaImg {
        height: auto !important;
    }
}

.container-slider {
    margin: auto;
}

.container-img{
    width: 350px;
}
  
.slider-item {
    width: 100%;
    padding: 30px;
    height: 420px;
}

.slider-item.active {
    opacity: 1; /* Imagen central con opacidad completa */
    transform: scale(1.1); /* Efecto de alejamiento */
    width: 100%;
}


.logo-width {
    height: 60px;
}

@media (max-width: 1300px) {
  
    .slider-item {
      width: 100%;
      padding: 0px, 10px, 0px, 10px;
      height: 500px;
    }
  
    .slider-item.active {
      opacity: 0; /* Imagen central con opacidad completa */
      transform: scale(1); /* Efecto de alejamiento */
      width: 100%;
      padding: 0px, 10px, 0px, 10px;
    }
}

@media (max-width: 700px) {
  
    .slider-item {
      width: 100%;
      padding: 0px;
        height: auto;
    }
  
    .slider-item.active {
      opacity: 0; /* Imagen central con opacidad completa */
      transform: scale(1); /* Efecto de alejamiento */
      padding: 0;
    }
}



/* 
.logo {
    position: absolute;
    top: 0;
    margin-top: 0px;
}

.logo-container {
    margin-top: 0px;
} */
  
         
/* img {
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 10%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
} */